<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>SLA - Dashboard</title>
</head>
<body>
    <div class="container">
        <input type="hidden" id="id_user" value="{{id}}">
        <header class="header-dashboard">
            <div class="img-header-dashboard">
                <img src="/images/logo04.png" alt="Logo">
                <h1>Dashboard</h1>
            </div>
            <div class="hamburguer-home"></div>
        </header>

        <div class="menu-lateral">
            <div class="logo-menu" style="display: none;">
                        
            </div>
            <ul class="list-menu-lateral">
                <form action="{{id}}" method="POST">
                    <a><li id="li-dashboard"><button type="submit"><div class="area-icons"><i class="fa fa-dashboard" style="font-size:24px"></i></div>Dashboard</button></li></a>
                </form>
                
                <form action="usersExc/{{id}}" method="POST">
                    <li><button type="submit"><div class="area-icons"><i class="fa fa-trash" style="font-size:24px"></i></div>Usuários Removidos</button></li>
                </form>

                <form action="messages/{{id}}" method="POST">
                    <li><button type="submit"><div class="area-icons"><i class="fa fa-envelope" style="font-size:24px"></i></div>Mensagens</button></li>
                </form>

                <form action = "sair/{{id}}" method = "POST">
                    <a><li><button type="submit"><div class="area-icons"><i class="fa fa-sign-out" style="font-size:24px"></i></div>Sair</button></li></a>
                </form>
            </ul>
        </div>

        <div class="area-dados">
            <div class="area-welcome">
                <h1>Bem vindo {{nome}}!</h1>
            </div>
            <div class="area-infos">
                <div class="side-area">
                    <p>Total de usuários: <span>{{users}}</span></p>
                    <p>Usuários ativos: <span>{{ativos}}</span></p>
                    <p>Usuários inativos: <span>{{inativos}}</span></p>
                    <p>Usuários online: <span>{{online}}</span></p>
                </div>
                <div class="side-area">
                    <p>Avaliações cadastradas: <span>{{avaliacoes}}</span></p>
                    <p>Avaliações em andamento: <span>{{avAndamento}}</span></p>
                    <p>Avaliações concluídas: <span>{{avConcluida}}</span></p>
                    <p>Avaliações excluídas: <span>{{avExcluida}}</span></p>
                </div>
                
            </div>
            <div class="area-cards" id="{{situacao}}">
                <div class="card-dashboard">
                    <canvas class="doughnut-chart" id="doughnut-chart"></canvas>
                </div>


                <div class="card-dashboard">
                    <canvas class="doughnut-chart02" id="doughnut-chart02"></canvas>
                </div>


                <div class="card-dashboard">
                    <div class="content-card-dashboard">
                        <h3>Avisos</h3>
                        <img src="{{imgAviso}}" style="width: 126px;">
                        <p>{{aviso}}</p>
                    </div>
                </div>
            </div>

            <div class="area-table">
                <h2>Usuários</h2>
                <table class="table-avaliacoes">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th id="th-avs">Avaliações</th>
                            <th id="th-sit">Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tableUsers}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{nome}}</td>
                                <td>{{email}}</td>
                                <td id="td-avs">{{avs}}</td>
                                <td class ="td-sit" value = "{{situacao}}">{{situacao}}</td>
                                <td><button id="exc-user" onclick="showAlertDel({{id}})"><i class="fa fa-trash" style="font-size:24px"></button></i></td>
                            </tr>
                        {{/each}}
                        
                    </tbody>
                    
                </table>
            </div>

            <div class="bg-alert-adm" id="bg-alert-del">
                <div class="card-alert-adm" id="card-alert-del">
                    <div class="title-card-alert">
                        <h1>Alerta</h1>
                    </div>
                    <div class="content-card-alert">
                        <p>Deseja excluir o usuário selecionado?</p>
                        <div class="buttons-card-alert">
                            <form id="form-del">
                                <input type="hidden" name="id_usuario" id="id_usuario" value="">
                                <button id="btn-alert-sim" type="submit">Sim</button>
                            </form>
                            <form action="" method="POST">
                                <button id="btn-alert-nao" type="submit">Não</button>
                            </form>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/showMenu.js"></script>
    <script src="/controlTableUsers.js"></script>
    <script src="/showAlertAdm.js"></script>

    <script>
    // Gráfico 01
    let ctxDoughnut = document.getElementById('doughnut-chart')
    const dataDoughnut = {
        labels: [
            'Ativos',
            'Inativos',
            'Online'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [
                {{ativos}},
                {{inativos}},
                {{online}}
            ],
            backgroundColor: [
            'rgba(1, 139, 252, 0.479)',
            'rgba(241, 14, 14, 0.479)',
            'rgba(101, 248, 64, 0.479)'
            ],
            hoverOffset: 4
        }]
    };

    let chartDoughnut = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: dataDoughnut,
        options: {
            responsive: true,
            plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Total de Usuários',
                font: {
                    size: 18
                },
                color: 'rgb(0, 0, 0)'
            }
            }
        }
    })

    // Gráfico 02
    let ctxDoughnut02 = document.getElementById('doughnut-chart02')
    const dataDoughnut02 = {
        labels: [
            'Andamento',
            'Concluídas',
            'Excluídas'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [
                {{avAndamento}},
                {{avConcluida}},
                {{avExcluida}}
            ],
            backgroundColor: [
            'rgba(1, 139, 252, 0.479)',
            'rgba(101, 248, 64, 0.479)',
            'rgba(241, 14, 14, 0.479)'
            ],
            hoverOffset: 4
        }]
    };

    let chartDoughnut02 = new Chart(ctxDoughnut02, {
        type: 'doughnut',
        data: dataDoughnut02,
        options: {
            responsive: true,
            plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Total de Avaliações',
                font: {
                    size: 18
                },
                color: 'rgb(0, 0, 0)'
            }
            }
        }
    })
    </script>
</body>
</html>